Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cps, fk, gcap3d, gmt, hinetpy, obspy, sac, sod, taup, template, anaconda, java, utility, maintenance

.github/labeler.yml:

# Add a labeler to any changes within folders or any subfolders

# Seismological software: software name is used as the labeler
cps: source/cps/**/*
fk: source/fk/**/*
gcap3d: source/gcap3d/**/*
gmt: source/gmt/**/*
hinetpy: source/hinetpy/**/*
obspy: source/obspy/**/*
sac: source/sac/**/*
sod: source/sod/**/*
taup: source/taup/**/*

# Appendix
template: source/template/**/*
anaconda: source/anaconda/**/*
java: source/java/**/*

# utilities
utility: source/utilities/**/*

# maintenance
maintenance:
  - any: ['.github/**/*']
  - any: ['tests/**/*']

Bump styfle/cancel-workflow to v0.9.0 (#191)
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
  .github/workflows/tests.yml
Labels: maintenance

Add dependabot to automatically update action versions
  .github/dependabot.yml
Labels: maintenance

Add dependabot to automatically update action versions (#192)
  .github/dependabot.yml
Labels: maintenance

Unpin docutils
  requirements.txt
Labels: none

Update workflow comments
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
Labels: maintenance

Improve the check links workflow
  .github/workflows/check-links.yml
Labels: maintenance

Fix SOD and TauP author links
  source/sod/index.rst
  source/taup/index.rst
Labels: sod, taup

Fix SOD and TauP author links (#197)
  source/sod/index.rst
  source/taup/index.rst
Labels: sod, taup

Bump to TauP 2.5.0
  source/taup/index.rst
Labels: taup

Update TauP install instructions
  source/taup/install.rst
Labels: taup

Test installation of TauP 2.5.0
  tests/test-taup.sh
Labels: maintenance

Test installation of TauP 2.5.0 (#201)
  tests/test-taup.sh
Labels: maintenance

Update TauP install instructions (#200)
  source/taup/install.rst
Labels: taup

Update check-links workflow
  .github/workflows/check-links.yml
Labels: maintenance

Update check-links workflow (#202)
  .github/workflows/check-links.yml
Labels: maintenance

Delete the check-links workflow
  .github/workflows/check-links.yml
Labels: maintenance

Delete the check-links workflow (#203)
  .github/workflows/check-links.yml
Labels: maintenance

Update taup_time tutorial
  source/taup/taup_time.rst
Labels: taup

Update date
  source/taup/taup_time.rst
Labels: taup

Update taup-path tutorial
  source/taup/taup_path.rst
Labels: taup

Update taup_path.jpg
  source/taup/taup_path.jpg
Labels: taup

Fix taup_path.jpg
  source/taup/taup_path.jpg
Labels: taup

Update taup-curve tutorial
  source/taup/taup_curve.jpg
  source/taup/taup_curve.rst
Labels: taup

Update taup-setsac tutorial
  source/taup/taup_setsac.rst
Labels: taup

Update taup_time tutorial (#204)
  source/taup/taup_time.rst
Labels: taup

Update taup-path tutorial (#205)
  source/taup/taup_path.jpg
  source/taup/taup_path.rst
Labels: taup

Update taup-curve tutorial (#206)
  source/taup/taup_curve.jpg
  source/taup/taup_curve.rst
Labels: taup

Update taup-setsac tutorial (#207)
  source/taup/taup_setsac.rst
Labels: taup

Update taup introduction
  source/taup/introduction.rst
  source/taup/taup_curve.rst
Labels: taup

Apply suggestions from code review
  source/taup/introduction.rst
Labels: taup

Update taup introduction (#208)
  source/taup/introduction.rst
  source/taup/taup_curve.rst
Labels: taup

Bump to TauP 2.5.0 (#199)
  source/taup/index.rst
  source/taup/install.rst
  source/taup/introduction.rst
  source/taup/taup_curve.jpg
  source/taup/taup_curve.rst
  source/taup/taup_path.jpg
  source/taup/taup_path.rst
  source/taup/taup_setsac.rst
  source/taup/taup_time.rst
  tests/test-taup.sh
Labels: taup, maintenance

Add tutorial for taup-velplot
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_velplot.jpg
  source/taup/taup_velplot.rst
Labels: taup

Updates
  source/taup/taup_velplot.rst
Labels: taup

Add taup slowplot tutorial
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_slowplot.jpg
  source/taup/taup_slowplot.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_slowplot.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_slowplot.rst
Labels: taup

Update source/taup/taup_slowplot.rst
  source/taup/taup_slowplot.rst
Labels: taup

Add two subsections for TauP setsac
  source/taup/taup_setsac.rst
Labels: taup

Add two subsections for TauP setsac (#211)
  source/taup/taup_setsac.rst
Labels: taup
