Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cap, cps, fk, obspy, sod, taup, template, anaconda, java

Add a test
  source/cps/index.rst
Labels: cps

Update
  source/cps/index.rst
Labels: cps

Update
  source/fk/index.rst
Labels: fk

Update
  source/cps/index.rst
  source/cps/introduction.rst
  source/fk/index.rst
  source/fk/introduction.rst
Labels: cps, fk

Fix
  .github/workflows/labeler.yml
  source/cps/index.rst
  source/cps/introduction.rst
  source/fk/index.rst
  source/fk/introduction.rst
  source/index.rst
Labels: cps, fk

Fix
  source/index.rst
Labels: none

test
  source/fk/index.rst
Labels: fk

.github/labeler.yml:

# Seismological software
cap:
  - any: ['source/cap/**/*']

cps:
  - any: ['source/cps/**/*']

fk:
  - any: ['source/fk/**/*']

obspy:
  - any: ['source/obspy/**/*']

sod:
  - any: ['source/sod/**/*']

taup:
  - any: ['source/taup/**/*']

# Appendix
template:
  - any: ['source/template/**/*']

anaconda:
  - any: ['source/anaconda/**/*']

java:
  - any: ['source/java/**/*']
