Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cps, fk, gcap3d, gmt, hinetpy, obspy, sac, sod, taup, template, anaconda, java, utility, maintenance

.github/labeler.yml:

# Add a labeler to any changes within folders or any subfolders

# Seismological software: software name is used as the labeler
cps: source/cps/**/*
fk: source/fk/**/*
gcap3d: source/gcap3d/**/*
gmt: source/gmt/**/*
hinetpy: source/hinetpy/**/*
obspy: source/obspy/**/*
sac: source/sac/**/*
sod: source/sod/**/*
taup: source/taup/**/*

# Appendix
template: source/template/**/*
anaconda: source/anaconda/**/*
java: source/java/**/*

# utilities
utility: source/utilities/**/*

# maintenance
maintenance:
  - any: ['.github/**/*']
  - any: ['tests/**/*']

Let the badges link to the actions page (#155)
  README.md
Labels: none

Fix failures on macOS
  .github/workflows/tests.yml
Labels: maintenance

fix
  .github/workflows/tests.yml
Labels: maintenance

Fix failures on macOS (#156)
  .github/workflows/tests.yml
Labels: maintenance

Add whitespace between number and Chinese char
  source/conf.py
Labels: none

Add whitespace between number and Chinese char (#157)
  source/conf.py
Labels: none

Update install.rst
  source/fk/install.rst
Labels: fk

Update source/fk/install.rst
  source/fk/install.rst
Labels: fk

Fix the fk install instruction (#159)
  source/fk/install.rst
Labels: fk

Allow runing CI jobs from forks
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Labels: maintenance

Revert changes in build.yml
  .github/workflows/build.yml
Labels: maintenance

Fix build.yml
  .github/workflows/build.yml
Labels: maintenance

Add pull_request
  .github/workflows/build.yml
Labels: maintenance

Allow running CI jobs from forks (#162)
  .github/workflows/build.yml
  .github/workflows/labeler.yml
Labels: maintenance

Add the sphinx-copybutton extension
  requirements.txt
  source/conf.py
Labels: none

Add the sphinx-copybutton extension (#163)
  requirements.txt
  source/conf.py
Labels: none

Separate metadata for tutorials
  source/cps/index.rst
  source/cps/install.rst
  source/cps/introduction.rst
Labels: cps

Update fk
  source/fk/index.rst
  source/fk/install.rst
  source/fk/introduction.rst
Labels: fk

Add gcap3d
  source/gcap3d/index.rst
  source/gcap3d/introduction.rst
Labels: gcap3d

Fix all
  source/anaconda/index.rst
  source/fk/install.rst
  source/fk/introduction.rst
  source/gcap3d/introduction.rst
  source/java/index.rst
  source/obspy/index.rst
  source/obspy/install.rst
  source/obspy/introduction.rst
  source/sod/index.rst
  source/sod/install.rst
  source/sod/introduction.rst
  source/taup/index.rst
  source/taup/install.rst
  source/taup/introduction.rst
  source/taup/taup_curve.rst
  source/taup/taup_path.rst
  source/taup/taup_setsac.rst
  source/taup/taup_time.rst
  source/template/index.rst
  source/template/install.rst
  source/template/introduction.rst
  source/template/style.rst
  source/utilities/distaz.rst
  source/utilities/saclst.rst
Labels: fk, gcap3d, obspy, sod, taup, template, anaconda, java, utility

Add the sphinx-panels extension
  requirements.txt
  source/conf.py
  source/index.rst
Labels: none

Remove pull_request from workflow
  .github/workflows/build.yml
Labels: maintenance

Remove pull_request from workflow (#166)
  .github/workflows/build.yml
Labels: maintenance

Add the sphinx-panels extension (#165)
  requirements.txt
  source/conf.py
  source/index.rst
Labels: none

Separate metadata for tutorials (#164)
  source/anaconda/index.rst
  source/cps/index.rst
  source/cps/install.rst
  source/cps/introduction.rst
  source/fk/index.rst
  source/fk/install.rst
  source/fk/introduction.rst
  source/gcap3d/index.rst
  source/gcap3d/introduction.rst
  source/java/index.rst
  source/obspy/index.rst
  source/obspy/install.rst
  source/obspy/introduction.rst
  source/sod/index.rst
  source/sod/install.rst
  source/sod/introduction.rst
  source/taup/index.rst
  source/taup/install.rst
  source/taup/introduction.rst
  source/taup/taup_curve.rst
  source/taup/taup_path.rst
  source/taup/taup_setsac.rst
  source/taup/taup_time.rst
  source/template/index.rst
  source/template/install.rst
  source/template/introduction.rst
  source/template/style.rst
  source/utilities/distaz.rst
  source/utilities/saclst.rst
Labels: cps, fk, gcap3d, obspy, sod, taup, template, anaconda, java, utility

Fix the workflow so that PR preview works
  .github/workflows/build.yml
Labels: maintenance

Split the CI jobs into two workflows
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
  README.md
Labels: maintenance

Split the CI jobs into two workflows (#168)
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
  README.md
Labels: maintenance

Delete sphinx-tabs and use sphinx-panels
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/install.rst
  source/java/index.rst
Labels: cps, anaconda, java

Delete sphinx-tabs and use sphinx-panels (#169)
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/install.rst
  source/java/index.rst
Labels: cps, anaconda, java

Disable PR preview for external contributors
  .github/workflows/preview-pr.yml
Labels: maintenance

Disable PR preview for external contributors (#170)
  .github/workflows/preview-pr.yml
Labels: maintenance

Sort packages in requirements.txt
  requirements.txt
Labels: none

Sort packages in requirements.txt (#171)
  requirements.txt
Labels: none

Only run PR Preview if not a fork
  .github/workflows/preview-pr.yml
Labels: maintenance

fix
  .github/workflows/preview-pr.yml
Labels: maintenance

Only run PR Preview if not a fork (#172)
  .github/workflows/preview-pr.yml
Labels: maintenance

Improve the install notes
  source/snippets/install_notes.rst_
Labels: none

Improve the install notes (#173)
  source/snippets/install_notes.rst_
Labels: none

fix a typo
  source/fk/install.rst
Labels: fk
