Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cps, fk, gcap3d, gmt, hinetpy, obspy, sac, sod, taup, template, anaconda, java, utility, maintenance

.github/labeler.yml:

# Add a labeler to any changes within folders or any subfolders

# Seismological software: software name is used as the labeler
cps: source/cps/**/*
fk: source/fk/**/*
gcap3d: source/gcap3d/**/*
gmt: source/gmt/**/*
hinetpy: source/hinetpy/**/*
obspy: source/obspy/**/*
sac: source/sac/**/*
sod: source/sod/**/*
taup: source/taup/**/*

# Appendix
template: source/template/**/*
anaconda: source/anaconda/**/*
java: source/java/**/*

# utilities
utility: source/utilities/**/*

# maintenance
maintenance:
  - any: ['.github/**/*']
  - any: ['tests/**/*']

fix a typo (#174)
  source/fk/install.rst
Labels: fk

Redirect to the new contributing guides
  CONTRIBUTING.md
  README.md
  source/conf.py
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Redirect to the new contributing guides (#175)
  CONTRIBUTING.md
  README.md
  source/conf.py
Labels: none

Typo
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Typo (#176)
  README.md
Labels: none

Remove documentation style
  source/conf.py
  source/template/style.rst
Labels: template

Update source/conf.py
  source/conf.py
Labels: none

Update date
  source/template/style.rst
Labels: template

Remove documentation style (#177)
  source/template/style.rst
Labels: template

Fix broken tests
  .github/workflows/tests.yml
Labels: maintenance

Use Python 3.8
  .github/workflows/tests.yml
Labels: maintenance

Reinstall GCC
  .github/workflows/tests.yml
Labels: maintenance

Fix broken tests (#178)
  .github/workflows/tests.yml
Labels: maintenance

Bump styfle/cancel-workflow-action version to 0.8.0
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
Labels: maintenance

Bump styfle/cancel-workflow-action version to 0.8.0 (#179)
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
Labels: maintenance

Rename install_note.rst_ to be install-note.rst_
  source/cps/install.rst
  source/fk/install.rst
  source/snippets/install-notes.rst_
  source/sod/install.rst
  source/taup/install.rst
  source/template/install.rst
  source/utilities/distaz.rst
Labels: cps, fk, sod, taup, template, utility

Rename install_note.rst_ to be install-note.rst_ (#180)
  source/cps/install.rst
  source/fk/install.rst
  source/snippets/install-notes.rst_
  source/sod/install.rst
  source/taup/install.rst
  source/template/install.rst
  source/utilities/distaz.rst
Labels: cps, fk, sod, taup, template, utility

Update the fk patch
  source/fk/fk3.3-v20190618.patch
Labels: fk

Update metadata and tiny fixes
  source/fk/install.rst
Labels: fk

Add a note for the change
  source/fk/install.rst
Labels: fk

Add -no-pie for SACLIB
  source/fk/fk3.3-v20190618.patch
Labels: fk

Apply suggestions from code review
  source/fk/install.rst
Labels: fk

Update source/fk/install.rst
  source/fk/install.rst
Labels: fk

Update the fk patch (#181)
  source/fk/fk3.3-v20190618.patch
  source/fk/install.rst
Labels: fk

Add a workflow checking broken links
  .github/workflows/check-links.yml
Labels: maintenance

Add a workflow checking broken links (#183)
  .github/workflows/check-links.yml
Labels: maintenance

Exclude some invalid links in check-links.yml
  .github/workflows/check-links.yml
Labels: maintenance

Exclude some invalid links in check-links.yml (#185)
  .github/workflows/check-links.yml
Labels: maintenance

Fix a typo
  .github/workflows/check-links.yml
Labels: maintenance

Fix a typo (#187)
  .github/workflows/check-links.yml
Labels: maintenance

Update the badge in README.md
  README.md
Labels: none

Fix
  README.md
Labels: none

Update the badge in README.md (#188)
  README.md
Labels: none

Pin docutils to 0.16
  requirements.txt
Labels: none

Pin docutils to 0.16 (#190)
  requirements.txt
Labels: none

Bump styfle/cancel-workflow to v0.9.0
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
Labels: maintenance

Update test.yml
  .github/workflows/tests.yml
Labels: maintenance
