Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cps, fk, gcap3d, gmt, hinetpy, obspy, sac, sod, taup, template, anaconda, java, utility, maintenance

.github/labeler.yml:

# Add a labeler to any changes within folders or any subfolders

# Seismological software: software name is used as the labeler
cps: source/cps/**/*
fk: source/fk/**/*
gcap3d: source/gcap3d/**/*
gmt: source/gmt/**/*
hinetpy: source/hinetpy/**/*
obspy: source/obspy/**/*
sac: source/sac/**/*
sod: source/sod/**/*
taup: source/taup/**/*

# Appendix
template: source/template/**/*
anaconda: source/anaconda/**/*
java: source/java/**/*

# utilities
utility: source/utilities/**/*

# maintenance
maintenance:
  - any: ['.github/**/*']
  - any: ['tests/**/*']

Replace sphinx-panels with sphinx-design
  requirements.txt
  source/conf.py
Labels: none

Fix anaconda
  source/anaconda/index.rst
Labels: anaconda

Fix install notes
  source/snippets/install-notes.rst_
Labels: none

Fix cps and java
  source/cps/install.rst
  source/java/index.rst
Labels: cps, java

Fix the index page
  source/index.rst
Labels: none

fix
  source/snippets/install-notes.rst_
Labels: none

Replace sphinx-panels with sphinx-design (#229)
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/install.rst
  source/index.rst
  source/java/index.rst
  source/snippets/install-notes.rst_
Labels: cps, anaconda, java

Replace anaconda with miniconda
  source/anaconda/anaconda-download.png
  source/anaconda/index.rst
Labels: anaconda

fix
  source/anaconda/index.rst
Labels: anaconda

Update source/anaconda/index.rst
  source/anaconda/index.rst
Labels: anaconda

Replace anaconda with miniconda (#230)
  source/anaconda/anaconda-download.png
  source/anaconda/index.rst
Labels: anaconda

Fix the install timing of miniconda
  source/anaconda/index.rst
Labels: anaconda

Fix the install timing of miniconda (#231)
  source/anaconda/index.rst
Labels: anaconda

Use tabs
  source/intel-oneapi/index.rst
Labels: none

Add install instruction for Intel OneAPI (#228)
  source/index.rst
  source/intel-oneapi/index.rst
  source/intel-oneapi/oneapi.repo
Labels: none

Recommend mamba instead of conda
  source/anaconda/index.rst
Labels: anaconda

Update source/anaconda/index.rst
  source/anaconda/index.rst
Labels: anaconda

Recommend mamba instead of conda (#232)
  source/anaconda/index.rst
Labels: anaconda

Fix a typo
  source/anaconda/index.rst
Labels: anaconda

Fix a typo (#237)
  source/anaconda/index.rst
Labels: anaconda

Fix setup-python workflows
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
Labels: maintenance

Update obspy install instructions
  source/obspy/index.rst
  source/obspy/install.rst
  source/obspy/introduction.rst
Labels: obspy

Fix
  source/sod/introduction.rst
Labels: sod

Update
  source/sod/recipe.rst
Labels: sod

Update
  source/sod/introduction.rst
Labels: sod

Add a note about SOD recipe in SOD introduction (#217)
  source/sod/introduction.rst
Labels: sod

Apply suggestions from code review
  source/sod/recipe.rst
Labels: sod

Rename introduction to intro
  source/cps/index.rst
  source/cps/intro.rst
  source/fk/index.rst
  source/fk/intro.rst
  source/gcap3d/index.rst
  source/gcap3d/intro.rst
  source/obspy/index.rst
  source/obspy/intro.rst
  source/sod/index.rst
  source/sod/intro.rst
  source/taup/index.rst
  source/taup/intro.rst
  source/taup/taup_pierce.rst
  source/template/index.rst
  source/template/intro.rst
  source/template/style.rst
Labels: cps, fk, gcap3d, obspy, sod, taup, template

sod: Add introduction to recipe (#218)
  source/sod/index.rst
  source/sod/recipe.rst
Labels: sod

Remove a file
  source/taup/taup_pierce.rst
Labels: taup

Rename introduction to intro (#240)
  source/cps/index.rst
  source/cps/intro.rst
  source/fk/index.rst
  source/fk/intro.rst
  source/gcap3d/index.rst
  source/gcap3d/intro.rst
  source/obspy/index.rst
  source/obspy/intro.rst
  source/sod/index.rst
  source/sod/intro.rst
  source/taup/index.rst
  source/taup/intro.rst
  source/template/index.rst
  source/template/intro.rst
  source/template/style.rst
Labels: cps, fk, gcap3d, obspy, sod, taup, template

Tiny fix for SOD recipe
  source/sod/recipe.rst
Labels: sod

Tiny fix for SOD recipe (#241)
  source/sod/recipe.rst
Labels: sod

Add .readthedocs.yaml to trigger build on ReadTheDocs
  .readthedocs.yaml
Labels: none

Updates
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
  source/_config.yml
Labels: maintenance

Fix the index page
  source/_config.yml
  source/index.md
Labels: none

Fix cps/install
  source/cps/install.md
Labels: cps

Fix
  source/cps/install.md
  source/index.md
Labels: cps

Use org-wide discussions
  source/_toc.yml
Labels: none

Update anaconda/miniconda instructions
  source/anaconda/index.md
Labels: anaconda
