Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cps, fk, gcap3d, gmt, hinetpy, obspy, sac, sod, taup, template, anaconda, java, utility, maintenance

Fix (#142)
  source/index.rst
Labels: none

Anaconda: set base environment deactivated
  source/anaconda/index.rst
Labels: anaconda

Update source/anaconda/index.rst
  source/anaconda/index.rst
Labels: anaconda

Update source/anaconda/index.rst
  source/anaconda/index.rst
Labels: anaconda

Update
  source/anaconda/index.rst
Labels: anaconda

Update source/anaconda/index.rst
  source/anaconda/index.rst
Labels: anaconda

Update source/anaconda/index.rst
  source/anaconda/index.rst
Labels: anaconda

Anaconda: set base environment deactivated (#145)
  source/anaconda/index.rst
Labels: anaconda

Test distaz
  .github/workflows/tests.yml
  tests/test-distaz.sh
Labels: maintenance

Test SOD
  .github/workflows/tests.yml
  tests/test-sod.sh
Labels: maintenance

Test TauP
  .github/workflows/tests.yml
  tests/test-taup.sh
Labels: maintenance

Enable CI in PR [drop before merge]
  .github/workflows/tests.yml
Labels: maintenance

Make ci-tests branch special
  .github/workflows/tests.yml
Labels: maintenance

Update tests/test-sod.sh
  tests/test-sod.sh
Labels: maintenance

Update tests/test-taup.sh
  tests/test-taup.sh
Labels: maintenance

Add a general note to installation sections
  source/install_notes.rst_
  source/template/index.rst
  source/template/install.rst
Labels: template

Move to snippets
  source/snippets/install_notes.rst_
  source/template/install.rst
Labels: template

Fixes
  source/snippets/install_notes.rst_
Labels: none

Check shell
  source/snippets/install_notes.rst_
Labels: none

Add the general notes to other install guides
  source/cps/install.rst
  source/fk/install.rst
  source/sod/install.rst
  source/taup/install.rst
Labels: cps, fk, sod, taup

Update
  source/snippets/install_notes.rst_
Labels: none

Add distaz
  source/utilities/distaz.rst
Labels: utility

Add more tests in weekly CI jobs (#143)
  .github/workflows/tests.yml
  tests/test-distaz.sh
  tests/test-sod.sh
  tests/test-taup.sh
Labels: maintenance

Add a general note to installation sections (#148)
  source/cps/install.rst
  source/fk/install.rst
  source/snippets/install_notes.rst_
  source/sod/install.rst
  source/taup/install.rst
  source/template/index.rst
  source/template/install.rst
  source/utilities/distaz.rst
Labels: cps, fk, sod, taup, template, utility

CPS: Add instructions for X11
  source/cps/install.rst
Labels: cps

CPS: Add instructions for X11 (#149)
  source/cps/install.rst
Labels: cps

Test fk
  .github/workflows/tests.yml
  tests/test-fk.sh
Labels: maintenance

Fix sed
  tests/test-fk.sh
Labels: maintenance

Improve tests
  .github/workflows/tests.yml
  tests/test-fk.sh
Labels: maintenance

fix
  .github/workflows/tests.yml
Labels: maintenance

Test fk installation (#150)
  .github/workflows/tests.yml
  tests/test-fk.sh
Labels: maintenance

Add a bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: maintenance

Add a feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance

Add issue templates (#151)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance

Add the sphinx-tabs extension
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/install.rst
  source/java/index.rst
Labels: cps, anaconda, java

Upate dates
  source/anaconda/index.rst
  source/cps/index.rst
  source/java/index.rst
Labels: cps, anaconda, java

Add the sphinx-tabs extension (#152)
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/index.rst
  source/cps/install.rst
  source/java/index.rst
Labels: cps, anaconda, java

Bump styfle/cancel-workflow-action version to 0.7.0
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: maintenance

Bump styfle/cancel-workflow-action version to 0.7.0 (#153)
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: maintenance

Let the badges link to the actions page
  README.md
Labels: none

.github/labeler.yml:

# Add a labeler to any changes within folders or any subfolders

# Seismological software: software name is used as the labeler
cps: source/cps/**/*
fk: source/fk/**/*
gcap3d: source/gcap3d/**/*
gmt: source/gmt/**/*
hinetpy: source/hinetpy/**/*
obspy: source/obspy/**/*
sac: source/sac/**/*
sod: source/sod/**/*
taup: source/taup/**/*

# Appendix
template: source/template/**/*
anaconda: source/anaconda/**/*
java: source/java/**/*

# utilities
utility: source/utilities/**/*

# maintenance
maintenance:
  - any: ['.github/**/*']
  - any: ['tests/**/*']
