Repository seismo-learn/software, changes with the labels that .github/labeler.yml gives for each.
All labels: cps, fk, gcap3d, gmt, hinetpy, obspy, sac, sod, taup, template, anaconda, java, utility, maintenance

.github/labeler.yml:

# Add a labeler to any changes within folders or any subfolders

# Seismological software: software name is used as the labeler
cps: source/cps/**/*
fk: source/fk/**/*
gcap3d: source/gcap3d/**/*
gmt: source/gmt/**/*
hinetpy: source/hinetpy/**/*
obspy: source/obspy/**/*
sac: source/sac/**/*
sod: source/sod/**/*
taup: source/taup/**/*

# Appendix
template: source/template/**/*
anaconda: source/anaconda/**/*
java: source/java/**/*

# utilities
utility: source/utilities/**/*

# maintenance
maintenance:
  - any: ['.github/**/*']
  - any: ['tests/**/*']

Update source/taup/taup_slowplot.rst
  source/taup/taup_slowplot.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_velplot.rst
Labels: taup

Update source/taup/taup_velplot.rst
  source/taup/taup_velplot.rst
Labels: taup

Fix
  source/taup/taup_velplot.rst
Labels: taup

Update source/taup/taup_velplot.rst
  source/taup/taup_velplot.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_velplot.rst
Labels: taup

Add tutorial for taup-velplot (#209)
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_velplot.jpg
  source/taup/taup_velplot.rst
Labels: taup

Update description about slowness model
  source/taup/taup_slowplot.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_slowplot.rst
Labels: taup

Update source/taup/taup_slowplot.rst
  source/taup/taup_slowplot.rst
Labels: taup

Add taup slowplot tutorial (#210)
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_slowplot.jpg
  source/taup/taup_slowplot.rst
Labels: taup

Tiny improve taup introduction
  source/taup/introduction.rst
Labels: taup

Tiny improve taup introduction (#212)
  source/taup/introduction.rst
Labels: taup

Add taup-table tutorial
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_table.rst
Labels: taup

Add taup-wavefront tutorial
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_wavefront.gif
  source/taup/taup_wavefront.jpg
  source/taup/taup_wavefront.rst
  source/taup/taup_wavefront_ray20-time25.jpg
Labels: taup

Apply suggestions from code review
  source/taup/taup_table.rst
Labels: taup

Add taup-table tutorial (#213)
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_table.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_wavefront.rst
Labels: taup

Update source/taup/taup_wavefront.rst
  source/taup/taup_wavefront.rst
Labels: taup

Update links
  source/taup/taup_wavefront.rst
Labels: taup

Apply suggestions from code review
  source/taup/taup_wavefront.rst
Labels: taup

Update source/taup/taup_wavefront.rst
  source/taup/taup_wavefront.rst
Labels: taup

Add taup-wavefront tutorial (#214)
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_wavefront.gif
  source/taup/taup_wavefront.jpg
  source/taup/taup_wavefront.rst
  source/taup/taup_wavefront_ray20-time25.jpg
Labels: taup

Fix test bug for TauP
  tests/test-taup.sh
Labels: maintenance

Update tests/test-taup.sh
  tests/test-taup.sh
Labels: maintenance

Fix test bug for TauP (#215)
  tests/test-taup.sh
Labels: maintenance

Add SOD-recipes in SOD introduction
  source/sod/introduction.rst
Labels: sod

Update date
  source/sod/introduction.rst
Labels: sod

sod: Add introduction to recipe
  source/sod/index.rst
  source/sod/recipe.rst
Labels: sod

gCAP3D: Add gCAP3D installation
  source/gcap3d/gCAP3D1.2-v20210722.patch
  source/gcap3d/index.rst
  source/gcap3d/install.rst
Labels: gcap3d

Fix
  source/gcap3d/install.rst
Labels: gcap3d

Tiny fix for fk installation
  source/fk/install.rst
Labels: fk

Improve fk install instructions (#220)
  source/fk/install.rst
Labels: fk

Update Chinese translations of Sphinx strings
  source/locales/zh_CN/LC_MESSAGES/sphinx.po
Labels: none

Update Chinese translations of Sphinx strings (#221)
  source/locales/zh_CN/LC_MESSAGES/sphinx.po
Labels: none

Add a workflow to compress static images in PRs
  .github/workflows/compress-images.yml
Labels: maintenance

Add a workflow to compress static images in PRs (#223)
  .github/workflows/compress-images.yml
Labels: maintenance

Install java-11 on CentOS and Fedora
  source/java/index.rst
Labels: java

Install java-11 on CentOS and Fedora (#227)
  source/java/index.rst
Labels: java

Add install instruction for intel oneapi
  source/index.rst
  source/intel-oneapi/index.rst
  source/intel-oneapi/oneapi.repo
Labels: none
