Repository seismo-learn/software, pull requests merged in 2021-01, with the labels that each got.

#47 SOD: Add introduction and install instructions
  source/index.rst
  source/sod/index.rst
  source/sod/install.rst
  source/sod/introduction.rst
Labels: new software

#54 ObsPy: Add introduction and install instructions
  source/index.rst
  source/obspy.rst
  source/obspy/index.rst
  source/obspy/install.rst
  source/obspy/introduction.rst
Labels: new software

#57 Anaconda: Add install instructions for anaconda
  source/anaconda/anaconda-download.png
  source/anaconda/index.rst
  source/index.rst
Labels: new software

#62 taup: Add tutorial for taup_time
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_time.rst
Labels: new tutorial

#71 taup: Indicate the assumed Earth radius using -km
  source/taup/index.rst
  source/taup/taup_time.rst
Labels: taup

#70 Add a note about distance calulation in taup_time
  source/taup/taup_time.rst
Labels: taup

#75 Change ObsPy authors to its team
  source/obspy/index.rst
Labels: obspy

#78 Add PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: maintenance

#66 taup: Add tutorial for taup_setsac
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_setsac.rst
Labels: new tutorial, taup

#81 taup: tiny fix for taup_setsac
  source/taup/index.rst
  source/taup/taup_setsac.rst
Labels: taup

#80 taup: Add tutorials for taup_path
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_path.jpg
  source/taup/taup_path.rst
Labels: taup

#82 taup: Tiny fix
  source/taup/taup_path.rst
Labels: taup

#83 CPS: Add metadata and introduction for CPS
  source/cps/index.rst
  source/cps/introduction.rst
  source/index.rst
Labels: cps

#89 Tiny fix
  source/cps/introduction.rst
Labels: cps

#84 fk: Add metadata and introduction
  source/fk/index.rst
  source/fk/introduction.rst
  source/index.rst
Labels: fk

#88 taup: Add tutorials for taup_curve
  source/taup/index.rst
  source/taup/taup_curve.jpg
  source/taup/taup_curve.rst
Labels: taup

#92 Fix the order of taup tools
  source/taup/introduction.rst
Labels: taup

#96 HinetPy: Add metadata page for HinetPy
  .github/labeler.yml
  source/hinetpy/index.rst
  source/index.rst
Labels: hinetpy, maintenance

#97 GMT：Add metadata page for GMT
  .github/labeler.yml
  source/gmt/index.rst
  source/index.rst
Labels: gmt, maintenance

#98 SAC: Add metadata page for SAC
  .github/labeler.yml
  source/index.rst
  source/sac/index.rst
Labels: maintenance, sac

#99 GMT: Fix metadata
  source/gmt/index.rst
Labels: gmt

#100 Add horizontal rulers between metadata and introduction
  source/anaconda/index.rst
  source/java/index.rst
Labels: anaconda, java

#104 Add saclst
  .github/labeler.yml
  source/index.rst
  source/utilities/saclst.rst
Labels: maintenance, utility

#94 Add distaz
  source/index.rst
  source/utilities/distaz.rst
Labels: utility

#106 Add a tutorial for CPS install
  source/cps/index.rst
  source/cps/install.rst
Labels: cps

#109 Tiny fixes and update index
  source/gmt/index.rst
  source/hinetpy/index.rst
  source/index.rst
Labels: gmt, hinetpy

#110 Fix the installation paths
  source/cps/install.rst
  source/sod/install.rst
  source/taup/install.rst
  source/utilities/distaz.rst
Labels: cps, sod, taup, utility

#111 Fix typos
  source/cps/index.rst
  source/fk/index.rst
  source/obspy/index.rst
  source/sod/index.rst
  source/taup/index.rst
  source/template/index.rst
Labels: cps, fk, obspy, sod, taup, template

#112 Fix sudo: no need to use sudo if installed to ~/opt/
  source/sod/install.rst
  source/taup/install.rst
Labels: sod, taup

#113 ObsPy: Tiny fixes
  source/obspy/install.rst
  source/obspy/introduction.rst
Labels: obspy

#115 Tiny fixes
  source/fk/index.rst
Labels: fk

#116 Add metadata for saclst tutorial
  source/utilities/saclst.rst
Labels: utility

#117 Add metadata for distaz tutorial
  source/utilities/distaz.rst
Labels: utility

#118 Tiny fixes
  source/template/index.rst
Labels: template

#114 gCAP3D: Add metadata and introduction for gCAP3D
  .github/labeler.yml
  source/gcap3d/index.rst
  source/gcap3d/introduction.rst
  source/index.rst
Labels: gcap3d, maintenance

#120 Fix typos
  source/anaconda/index.rst
Labels: anaconda

#122 distaz: Tiny fixes
  source/utilities/distaz.rst
Labels: utility

#121 Simplify author information
  source/anaconda/index.rst
  source/conf.py
  source/cps/index.rst
  source/fk/index.rst
  source/gcap3d/index.rst
  source/hinetpy/index.rst
  source/java/index.rst
  source/obspy/index.rst
  source/sod/index.rst
  source/taup/index.rst
  source/template/index.rst
Labels: anaconda, cps, fk, gcap3d, hinetpy, java, obspy, sod, taup, template

#119 Add a note for GMT and SAC installation path
  source/gmt/index.rst
  source/sac/index.rst
Labels: gmt, sac

#124 Change CI workflow name
  .github/workflows/build.yml
  README.md
Labels: maintenance

#123 Cross-reference to external projects
  source/conf.py
  source/gmt/index.rst
  source/sac/index.rst
Labels: gmt, sac

#125 fk: Fix fk metadata
  source/fk/index.rst
Labels: fk

#126 fk: Add install instructions
  source/fk/fk3.3-v20190618.patch
  source/fk/index.rst
  source/fk/install.rst
Labels: fk

#127 Change the order of updating conda and anaconda
  source/anaconda/index.rst
Labels: anaconda

#128 Java: Update install instructions for openjdk
  source/java/index.rst
Labels: java

#131 anaconda: Fix install instructions
  source/anaconda/index.rst
Labels: anaconda

#132 Fix Java
  source/java/index.rst
Labels: java

#139 Fix obspy installation
  source/obspy/install.rst
Labels: obspy

#136 Workflow to test installations weekly
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/labeler.yml
  .github/workflows/tests.yml
  README.md
  tests/test-obspy.sh
Labels: maintenance

#145 Anaconda: set base environment deactivated
  source/anaconda/index.rst
Labels: anaconda

#143 Add more tests in weekly CI jobs
  .github/workflows/tests.yml
  tests/test-distaz.sh
  tests/test-sod.sh
  tests/test-taup.sh
Labels: maintenance

#148 Add a general note to installation sections
  source/cps/install.rst
  source/fk/install.rst
  source/snippets/install_notes.rst_
  source/sod/install.rst
  source/taup/install.rst
  source/template/index.rst
  source/template/install.rst
  source/utilities/distaz.rst
Labels: cps, fk, sod, taup, template, utility

#149 CPS: Add instructions for X11
  source/cps/install.rst
Labels: cps

#150 Test fk
  .github/workflows/tests.yml
  tests/test-fk.sh
Labels: maintenance

#151 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance

#152 Add the sphinx-tabs extension
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/index.rst
  source/cps/install.rst
  source/java/index.rst
Labels: anaconda, cps, java

#153 Bump styfle/cancel-workflow-action version to 0.7.0
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: maintenance

#156 Fix failures on macOS
  .github/workflows/tests.yml
Labels: maintenance
