Repository seismo-learn/software, pull requests merged in 2021-02, with the labels that each got.

#166 Remove pull_request from workflow
  .github/workflows/build.yml
Labels: maintenance

#164 Separate metadata for tutorials
  source/anaconda/index.rst
  source/cps/index.rst
  source/cps/install.rst
  source/cps/introduction.rst
  source/fk/index.rst
  source/fk/install.rst
  source/fk/introduction.rst
  source/gcap3d/index.rst
  source/gcap3d/introduction.rst
  source/java/index.rst
  source/obspy/index.rst
  source/obspy/install.rst
  source/obspy/introduction.rst
  source/sod/index.rst
  source/sod/install.rst
  source/sod/introduction.rst
  source/taup/index.rst
  source/taup/install.rst
  source/taup/introduction.rst
  source/taup/taup_curve.rst
  source/taup/taup_path.rst
  source/taup/taup_setsac.rst
  source/taup/taup_time.rst
  source/template/index.rst
  source/template/install.rst
  source/template/introduction.rst
  source/template/style.rst
  source/utilities/distaz.rst
  source/utilities/saclst.rst
Labels: anaconda, cps, fk, gcap3d, java, obspy, sod, taup, template, utility

#168 Split the CI jobs into two workflows
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
  README.md
Labels: maintenance

#169 Delete sphinx-tabs and use sphinx-panels
  requirements.txt
  source/anaconda/index.rst
  source/conf.py
  source/cps/install.rst
  source/java/index.rst
Labels: anaconda, cps, java

#170 Disable PR preview for external contributors
  .github/workflows/preview-pr.yml
Labels: maintenance

#172 Only run PR Preview if not a fork
  .github/workflows/preview-pr.yml
Labels: maintenance

#174 fix a typo
  source/fk/install.rst
Labels: fk

#177 Remove documentation style
  source/template/style.rst
Labels: template

#178 Fix broken tests
  .github/workflows/tests.yml
Labels: maintenance

#179 Bump styfle/cancel-workflow-action version to 0.8.0
  .github/workflows/deploy.yml
  .github/workflows/preview-pr.yml
Labels: maintenance

#180 Rename install_note.rst_ to be install-note.rst_
  source/cps/install.rst
  source/fk/install.rst
  source/snippets/install-notes.rst_
  source/sod/install.rst
  source/taup/install.rst
  source/template/install.rst
  source/utilities/distaz.rst
Labels: cps, fk, sod, taup, template, utility
