Repository seismo-learn/software, pull requests merged in 2021-06, with the labels that each got.

#203 Delete the check-links workflow
  .github/workflows/check-links.yml
Labels: maintenance

#204 Update taup_time tutorial
  source/taup/taup_time.rst
Labels: taup

#205 Update taup-path tutorial
  source/taup/taup_path.jpg
  source/taup/taup_path.rst
Labels: taup

#206 Update taup-curve tutorial
  source/taup/taup_curve.jpg
  source/taup/taup_curve.rst
Labels: taup

#207 Update taup-setsac tutorial
  source/taup/taup_setsac.rst
Labels: taup

#208 Update taup introduction
  source/taup/introduction.rst
  source/taup/taup_curve.rst
Labels: taup

#199 Bump to TauP 2.5.0
  source/taup/index.rst
  source/taup/install.rst
  source/taup/introduction.rst
  source/taup/taup_curve.jpg
  source/taup/taup_curve.rst
  source/taup/taup_path.jpg
  source/taup/taup_path.rst
  source/taup/taup_setsac.rst
  source/taup/taup_time.rst
  tests/test-taup.sh
Labels: maintenance, taup

#211 Add two subsections for TauP setsac
  source/taup/taup_setsac.rst
Labels: taup

#209 Add tutorial for taup-velplot
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_velplot.jpg
  source/taup/taup_velplot.rst
Labels: taup

#210 Add taup slowplot tutorial
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_slowplot.jpg
  source/taup/taup_slowplot.rst
Labels: taup

#212 Tiny improve taup introduction
  source/taup/introduction.rst
Labels: taup

#213 Add taup-table tutorial
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_table.rst
Labels: taup

#214 Add taup-wavefront tutorial
  source/taup/index.rst
  source/taup/introduction.rst
  source/taup/taup_wavefront.gif
  source/taup/taup_wavefront.jpg
  source/taup/taup_wavefront.rst
  source/taup/taup_wavefront_ray20-time25.jpg
Labels: taup

#215 Fix test bug for TauP
  tests/test-taup.sh
Labels: maintenance
